/* 產品圖片 */

.product-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.product-col{
    width: calc(100%/12*6);
    padding-right: 4px;
    padding-left: 4px;
}

@media(max-width:992px){
    .product-col{
        width: 100%;
        padding: 0;
    }
}

/* 產品描述 */

.del-price{
    font-size: 14px;
    font-weight: 400;
    color: $neutral-500;
    padding-left: 8px;
}

/* 產品顏色 */

.product-color{
    width: 64px;
    text-align: center;
    color: $neutral-600;
}

.product-color.btn{
  padding: 0;
}

/* 產品尺寸 */

.btn-product-size{
    width: 160px;
}

.btn-product-size.btn-disabled{
    border: 1px solid $neutral-300;
}

/* 收藏/預約 */

.product-action{
    display: flex;
    gap: 8px;
}

.product-action .btn{
    width: 50%;
}

.product-action .bi{
    margin-right: 8px;
    padding-right: 0;
    width: 20px;
}

@media(max-width:576px){
    .product-action{
        flex-direction: row-reverse;
        .btn-dark{
            width: calc(100% - 56px);
        }
        .btn-light{
            border: none;
            padding: 12px;
            width: 48px;
            .bi-heart {
              margin-right: 0;
            }
        }
    }
}

/* 產品資訊 */

.product-info-title{
    font-weight: 500;
}

.product-info-item{
    border-bottom: 1px solid $neutral-300;
}

.product-info-item p{
    color: $neutral-600;
}

/* 你可能也喜歡 */

@media(max-width:767px){
	.other-product-md-row{
        margin-left: -8px;
        margin-right: -8px;
  }
    .other-product-md-col{
		min-width: 300px;
        padding-left: 8px;
        padding-right: 8px;
	}
}